(
    graph: (
        nodes: [
            (
                node_type: Blend,
                mask: 0,
                weight: 1.0,
            ),
            (
                node_type: Clip(AssetPath("models/sea_turtle.glb#Animation0")),
                mask: 0,
                weight: 1.0,
            ),
            (
                node_type: Clip(AssetPath("models/sea_turtle.glb#Animation1")),
                mask: 0,
                weight: 1.0,
            ),
        ],
        node_holes: [],
        edge_property: directed,
        edges: [
            Some((0, 1, ())),
            Some((0, 2, ())),
        ],
    ),
    root: 0,
    mask_groups: {},
)